doctype html
head
  title Form Validator
  meta(type='author' content='David Norminton')
  link(rel='stylesheet' href='style.css')
header
  h1 Example : form with passwords 
#alert
form#form-1(name='myForm' action='' method='POST')
  div
    label Password
    span.message
    input#password(type='password')
  div
    label Confirm Password
    span.message
    input#password-check(data-vf='confirm' type='password')
  input#form-submit(type='submit')
script(src='form-valid.js')
script.
  ValidateForm.init('myForm');
